@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500&display=swap');

@mixin robotoR ($size: 18px) {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: $size;
}

@mixin robotoM ($size: 18px) {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: $size;
}

@mixin montserratR ($size: 18px) {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: $size;
}

@mixin montserratM ($size: 18px) {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: $size;
}

$red1: #F03A3A;
$orange1: #F07C3A;
$violet1: #B63AF0;
$green1: #1BB50E;
$blue1: #379FFF;
$grey0: #ffffff;
$grey1: #fafafa;
$grey4: #BFBFBF;
$grey5: #8C8C8C;
$grey6: #5E5E5E;
